/*colors for background and text*/
.text-color-1 {
  color: #f57e9a;
}
.text-color-2 {
  color: #e4decc;
}
.text-color-3 {
  color: #59766c;
}
.bg-color-1 {
  background-color: #f57e9a;
}
.bg-color-2 {
  background-color: #e4decc;
}
.bg-color-3 {
  background-color: #59766c;
}
/*default styles for cta. some sections has customize rounded and bg color*/
.cta-btn {
  @apply bg-color-1 py-3 px-6 font-zapf text-white text-base rounded-lg max-w-max;
}

/*styles for splide arrow*/
.splide__pagination__page {
  @apply bg-color-3 opacity-85;
}
.splide__pagination__page.is-active {
  @apply bg-color-3 opacity-100;
}
.splide__arrow {
  @apply w-8 h-16 bg-transparent opacity-100;
}
.splide__arrow svg {
  @apply w-8 h-16 fill-[#0B5D51] stroke-[#0B5D51];
}

/*styles for icon in header sub-menu*/
.triangle-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}
body {
  @apply mt-28;
}
