/*control styles for video bg and buttons in sess1*/
#sess1__home {
  @apply relative w-screen h-screen overflow-hidden;
}
.sess1__home-video__bg,
.bg-placeholder {
  @apply absolute top-0 left-0 w-full h-full object-cover z-0 bg-[#4D4D4D];
}
.sess1__home-wrapper {
  @apply relative z-10 flex flex-col items-center justify-end h-full text-white pb-20 px-4;
}
.sess1__home-wrapper h1 {
  @apply font-zapfDm text-5xl font-semibold text-center mb-8 lg:mb-16 lg:text-7xl lg:max-w-3xl;
}
.sess1__home-wrapper h1:after {
  content: "";
  width: 240px;
  height: 8px;
  display: none;
  background: url("../imgs/home-headline-underline.svg") center center no-repeat;
  @apply lg:ml-[310px] lg:block;
}
.sess1__home-btn_container ul {
  @apply font-zapf flex gap-x-4 gap-y-4 justify-center items-center flex-wrap max-w-md lg:max-w-3xl;
}
.sess1__home-btn_container li a {
  @apply py-3 px-6 font-zapf text-white text-base rounded-full;
}
.sess1__home-btn_container li:first-child a {
  @apply bg-color-1;
}
.sess1__home-btn_container li:nth-child(2) a {
  @apply bg-white text-color-3;
}
.sess1__home-btn_container li:last-child {
  @apply mt-5 lg:mt-0;
}
.sess1__home-btn_container li:last-child a {
  @apply bg-color-3 text-white;
}
/*control styles for slide and services in sess2*/
#sess2__home {
  @apply container mx-auto py-16 lg:py-20 px-8 flex flex-col items-center;
}
#sess2__home h2 {
  @apply font-zapfUlt text-color-3 text-center text-3xl lg:text-5xl mb-10 lg:max-w-3xl;
}
#sess2__home-slide {
  @apply px-16;
}
#sess2__home-slide .splide__track {
  @apply pb-10;
}
.product__slide {
  @apply w-full h-[480px] rounded-t-full rounded-b-full overflow-hidden relative;
}
.product__slide a {
  @apply block relative text-center text-white;
}
.product__slide a > img {
  @apply w-full h-[480px] object-cover rounded-t-full rounded-b-full;
}
.product__bg-gradient {
  @apply absolute w-full inset-0 bg-gradient-to-b from-[#f57e9a]/75 to-[#59766c]/75 rounded-t-full rounded-b-full;
}
.product__slide-content {
  @apply absolute inset-0 flex flex-col justify-evenly items-center;
}
.product__slide-content h3 {
  @apply relative z-10 text-3xl font-zapfDm max-w-[10ch];
}
.product__slide-content .content__arrow {
  @apply relative z-10 mt-4;
}
.content__arrow {
  @apply bg-white w-10 h-10 flex items-center justify-center rounded-full;
}
.content__arrow img {
  @apply h-4 w-4;
}
/*control styles for slide and services in sess3*/

#sess3__home {
  @apply bg-color-1;
}
.sess3__home-container {
  @apply container mx-auto flex flex-col lg:flex-row items-start justify-between px-8;
}
.sess3__home-img img {
  @apply w-[24rem] lg:w-[48rem] h-full object-cover;
}
.sess3__home-content {
  @apply my-20 lg:mt-40 text-white;
}
.sess3__home-content h2 {
  @apply font-zapf font-bold text-3xl lg:text-5xl max-w-xl lg:mb-20;
}
.member__adv-list {
  @apply font-zapf text-2xl flex flex-col gap-y-5 mb-16;
}
.member__adv-item p {
  @apply flex items-center gap-3;
}
.member__adv-item p:before {
  content: "";
  background: url("../imgs/checked.svg") center center no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  display: block;
}
.sess3__home-subtitle {
  @apply max-w-xl font-zapf text-xl mb-16;
}
.sess3-cta {
  @apply bg-white text-color-1 font-semibold rounded-full;
}
/*control styles for slide and services in sess4*/

#sess4__home {
  @apply pt-28 mb-28 w-screen h-screen;
}

.sess4__home-container {
  @apply container mx-auto flex items-center justify-center px-8;
}

/*for cards styles see membership__card in components file*/

/*control styles for slide and services in sess5*/

#sess5__home {
  @apply bg-color-3 py-20;
}

.sess5__home-container {
  @apply container mx-auto flex flex-col lg:flex-row items-center gap-x-40 px-8;
}
.sess5__img img {
  @apply w-[24rem] lg:w-[37rem] h-full object-cover rounded-t-full;
}
.sess5__home-content__container {
  @apply grid grid-cols-1 lg:grid-cols-2 lg:items-end mt-10 lg:mt-0 gap-y-12;
}
.sess5__home-content {
  @apply flex flex-col  gap-y-12 lg:gap-y-24 text-white;
}
.sess5__home-content h2 {
  @apply font-zapfUlt text-3xl lg:text-5xl max-w-md;
}
.sess5__home-content-text {
  @apply font-zapf text-base max-w-[40ch];
}
.sess5__cta {
  @apply rounded-full;
}
.sess5__home-services {
  @apply font-zapf text-white text-lg;
}
.sess5__home-services h3 {
  @apply uppercase font-bold;
}
.sess5__home-services p {
  @apply mb-3;
}
/*control styles for slide and services in sess6*/

#sess6__home {
  @apply py-24;
}
.sess6__home-container {
  @apply container mx-auto flex flex-col items-start justify-center px-8;
}
.sess6__home-container h2 {
  @apply font-zapfDm text-color-1 font-semibold text-3xl lg:text-5xl mb-16;
}

/*control styles for slide and services in sess7*/

#sess7__home {
  @apply relative w-screen h-screen overflow-hidden;
}
#sess7__home img {
  @apply absolute top-0 left-0 w-full h-full object-cover z-0;
}
.sess7__home-container {
  @apply relative z-10 flex flex-col items-center justify-center h-full;
}
.sess7__home-wrapper {
  @apply p-24 lg:py-32 lg:px-48 flex flex-col items-center justify-center;
}
.sess7__home-wrapper h2 {
  @apply font-zapfUlt font-bold text-xl lg:text-3xl text-color-1 bg-white p-3 mb-16 text-center;
}
.sess7__cta {
  @apply rounded-full;
}
#sess8__home {
  @apply bg-color-1 pt-24;
}
.sess8__home-container {
  @apply container mx-auto relative overflow-hidden flex max-w-7xl px-8;
}
.sess8__home-container img {
  @apply absolute -bottom-36 lg:-bottom-14 left-0 w-full h-full object-contain z-0;
}
.sess8__home-newsform {
  @apply relative z-10 flex flex-col items-center justify-center w-full h-full gap-y-10  lg:gap-y-20 pt-10;
}
.sess8__home-newsform h2 {
  @apply font-zapfUlt font-bold text-3xl lg:text-5xl max-w-lg text-white text-center;
}
.sess8__home-newsform p {
  @apply font-zapf text-2xl text-white;
}
.gform_title {
  @apply hidden;
}
#gform_5 {
  @apply flex items-center justify-center gap-8 pb-24;
}
#input_5_3 {
  @apply w-[700px] border-none rounded-full font-zapf text-gray-400 pl-8 py-3;
}
#gform_submit_button_5 {
  @apply bg-black py-3 px-6 font-zapf text-white text-base rounded-full max-w-max;
}
