@import "@splidejs/splide/dist/css/splide.min.css";
@import "./fonts.css";

@import "./components/general-styles.css";
@import "./components/membership-cards.css";
@import "./components/products-gallery.css";

@import "./header.css";
@import "./footer.css";
@import "./home-page.css";
@import "./membership.css";
@import "./aboutUs.css";
@import "./beforeAfter.css";
@import "./archive-product.css";

@import "./animation.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
header {
  overflow-x: hidden;
}

/*fix the dropdown menu from header on mobile view*/
@media (max-width: 768px) {
  #dropdownNavbar {
    position: sticky !important;
    transform: translate3d(0, 0, 0) !important;
  }
}
